<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title></title>
    <meta name="Generator" content="Cocoa HTML Writer">
    <meta name="CocoaVersion" content="1561">
    <style type="text/css">
        p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica}
        p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Helvetica; min-height: 14.0px}
        span.Apple-tab-span {white-space:pre}
    </style>
</head>
<body>
<p class="p1">&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"&gt;&lt;html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"&gt;&lt;head&gt;&lt;meta http-equiv="X-UA-Compatible" content="IE=edge" /&gt;&lt;meta name="viewport" content="width=device-width, initial-scale=1" /&gt;&lt;meta http-equiv="Content-Type" content="text/html; charset=utf-8" /&gt;&lt;meta name="apple-mobile-web-app-capable" content="yes" /&gt;&lt;meta name="apple-mobile-web-app-status-bar-style" content="black" /&gt;&lt;meta name="format-detection" content="telephone=no" /&gt;&lt;title&gt;tablette&lt;/title&gt;&lt;link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" /&gt;&lt;style type="text/css"&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Resets */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.ReadMsgBody { width: 100%; background-color: #ebebeb;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.ExternalClass {width: 100%; background-color: #ebebeb;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height:100%;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>a[x-apple-data-detectors]{</p>
<p class="p1"><span class="Apple-converted-space">            </span>color:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>text-decoration:none !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>font-size:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>font-family:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>font-weight:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>line-height:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>} <span class="Apple-converted-space">       </span></p>
<p class="p1"><span class="Apple-converted-space">        </span>body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>body {margin:0; padding:0;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.yshortcuts a {border-bottom: none !important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-del-min-width{ min-width: 0 !important; }</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Add new outlook css start */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.templateContainer{</p>
<p class="p1"><span class="Apple-converted-space">            </span>max-width:590px !important;</p>
<p class="p1"><span class="Apple-converted-space">            </span>width:auto !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Add new outlook css end */</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for 3 columns */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-3-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:170px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for 2 columns */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:264px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for 2 columns aside small size */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img-side-xs"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:180px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for 2 columns aside big size */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img-side-xl"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:350px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for 1 column */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-1-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:550px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Image width by default for header */</p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-header-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>max-width:590px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* Ckeditor line-height spacing */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-force-col p, ul, ol{margin:0px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-del-min-width p, ul, ol{margin:0px!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* tmpl-2 preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-tmpl-width{ width:100%!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* tmpl-11 preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-social-width{padding-right:15px!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* tmpl-11 preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-social-align{float:right!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>@media only screen and (min-width:590px){</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* mac fix width */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.templateContainer{width:590px !important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>@media screen and (max-width: 360px){</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* yahoo app fix width "tmpl-2 tmpl-10 tmpl-13" in android devices */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-yahoo-width{ width:360px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>@media screen and (max-width: 380px){</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* fix width and font size "tmpl-4 tmpl-6" in mobile preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.element-img-text{ font-size:24px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.element-img-text2{ width:230px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.content-img-text-tmpl-6{ font-size:24px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>.content-img-text2-tmpl-6{ width:220px!important;}</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>@media screen and (max-width: 480px) {</p>
<p class="p1"><span class="Apple-converted-space">        </span>td[class="rnb-container-padding"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-left: 10px !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-right: 10px !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* force container nav to (horizontal) blocks */</p>
<p class="p1"><span class="Apple-converted-space">        </span>td[class="rnb-force-nav"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>display: block;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>@media only screen and (max-width : 600px) {</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* center the address &amp;amp; social icons */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-text-center {text-align:center !important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* force container columns to (horizontal) blocks */</p>
<p class="p1"><span class="Apple-converted-space">        </span>td[class~="rnb-force-col"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>display: block;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-right: 0 !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-left: 0 !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100%;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class~="rnb-container"] {</p>
<p class="p1"><span class="Apple-converted-space">         </span>width: 100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-btn-col-content"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-col-3"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* change left/right padding and margins to top/bottom ones */</p>
<p class="p1"><span class="Apple-converted-space">        </span>margin-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>/*border-bottom: 1px solid #eee;*/</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-last-col-3"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-col-2"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* change left/right padding and margins to top/bottom ones */</p>
<p class="p1"><span class="Apple-converted-space">        </span>margin-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>/*border-bottom: 1px solid #eee;*/</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-col-2-noborder-onright"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* change left/right padding and margins to top/bottom ones */</p>
<p class="p1"><span class="Apple-converted-space">        </span>margin-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-bottom: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-col-2-noborder-onleft"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* change left/right padding and margins to top/bottom ones */</p>
<p class="p1"><span class="Apple-converted-space">        </span>margin-top: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>padding-top: 10px;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-last-col-2"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>table[class="rnb-col-1"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/* unset table align="left/right" */</p>
<p class="p1"><span class="Apple-converted-space">        </span>float: none !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>width: 100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-3-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img-side-xs"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-2-img-side-xl"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-col-1-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-header-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>margin:0 auto;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>img[class="rnb-logo-img"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>/**max-width:none !important;**/</p>
<p class="p1"><span class="Apple-converted-space">        </span>width:100% !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>td[class="rnb-mbl-float-none"] {</p>
<p class="p1"><span class="Apple-converted-space">        </span>float:inherit !important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>.img-block-center{text-align:center!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>.logo-img-center</p>
<p class="p1"><span class="Apple-converted-space">        </span>{</p>
<p class="p1"><span class="Apple-converted-space">            </span>float:inherit!important;</p>
<p class="p1"><span class="Apple-converted-space">        </span>}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* tmpl-11 preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-social-align{margin:0 auto!important; float:inherit!important;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>/* tmpl-11 preview */</p>
<p class="p1"><span class="Apple-converted-space">        </span>.rnb-social-center{display:inline-block;}</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">    </span>}@media screen{body{font-family:'Open sans','Verdana',Geneva,sans-serif;}}&lt;/style&gt;&lt;!--[if gte mso 11]&gt;&lt;style type="text/css"&gt;table{border-spacing: 0; }table td {border-collapse: separate;}&lt;/style&gt;&lt;![endif]--&gt;&lt;!--[if !mso]&gt;&lt;!--&gt;&lt;style type="text/css"&gt;table{border-spacing: 0;} table td {border-collapse: collapse;}&lt;/style&gt; &lt;!--&lt;![endif]--&gt;&lt;!--[if gte mso 15]&gt;&lt;xml&gt;&lt;o:OfficeDocumentSettings&gt;&lt;o:AllowPNG/&gt;&lt;o:PixelsPerInch&gt;96&lt;/o:PixelsPerInch&gt;&lt;/o:OfficeDocumentSettings&gt;&lt;/xml&gt;&lt;![endif]--&gt;&lt;!--[if gte mso 9]&gt;&lt;xml&gt;&lt;o:OfficeDocumentSettings&gt;&lt;o:AllowPNG/&gt;&lt;o:PixelsPerInch&gt;96&lt;/o:PixelsPerInch&gt;&lt;/o:OfficeDocumentSettings&gt;&lt;/xml&gt;&lt;![endif]--&gt;&lt;/head&gt;&lt;body&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" class="main-template" bgcolor="#ffffff" style="background-color:#ffffff;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-tab-span">	</span>&lt;tbody&gt;&lt;tr style="display:none !important; font-size:1px; mso-hide: all;"&gt;&lt;td&gt;&lt;/td&gt;&lt;td&gt;&lt;/td&gt;&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;td align="center" valign="top"&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;!--[if gte mso 9]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;table align="center" border="0" cellspacing="0" cellpadding="0" width="590" style="width:590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;td align="center" valign="top" width="590" style="width:590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;table border="0" cellpadding="0" cellspacing="0" width="100%" class="templateContainer" style="max-width:590px!important; width: 590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;div&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;td valign="top" width="590" style="width:590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="min-width:590px; background-color:#ffffff;" name="Layout_1" id="Layout_1"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;td class="rnb-del-min-width" align="center" valign="top" bgcolor="#ffffff" style="min-width:590px; background-color: #ffffff;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); border-radius: 0px; padding-left: 20px; padding-right: 20px; border-collapse: separate;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                </span>&lt;td height="20" style="font-size:1px; line-height:1px;"&gt; &lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                </span>&lt;td valign="top" class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff;" align="left"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                    </span>&lt;table width="100%" cellpadding="0" border="0" align="center" cellspacing="0"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                            </span>&lt;td valign="top" align="center"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;table cellpadding="0" border="0" align="center" cellspacing="0" class="logo-img-center"&gt;<span class="Apple-converted-space"> </span></p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;td valign="middle" align="center"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                            </span>&lt;div style="border-top:0px None #000;border-right:0px None #000;border-bottom:0px None #000;border-left:0px None #000;display:inline-block; " cellspacing="0" cellpadding="0" border="0"&gt;&lt;a style="text-decoration:none;" target="_blank" href="http://boutique.champagne-devaux.fr/"&gt;&lt;div&gt;&lt;img width="150" vspace="0" hspace="0" border="0" alt="["Champagne Devaux"]" style="float: left;max-width:150px;" class="rnb-logo-img" src="http://img.mailinblue.com/1486698/images/rnb/original/59a7c056bbddbd783f3ee611.jpg"&gt;&lt;/div&gt;&lt;/a&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                            </span>&lt;/div&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                    </span>&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                </span>&lt;td height="20" style="font-size:1px; line-height:1px;"&gt; &lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;/div&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/tr&gt;&lt;tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;div&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;td valign="top" width="590" style="width:590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">            </span></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;table width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="background-color:#ffffff;" name="Layout_10" id="Layout_10"&gt;&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;td align="center" valign="top" bgcolor="#ffffff" style="background-color: #ffffff;"&gt;&lt;table border="0" width="100%" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="height: 0px; background-color: rgb(255, 255, 255); border-radius: 0px; border-collapse: separate; padding-left: 20px; padding-right: 20px;"&gt;&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                </span>&lt;td class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff; font-size: px;font-family: ; color: ;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                    </span>&lt;table border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container" align="left" style="margin:auto;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                            </span>&lt;td class="rnb-force-col" align="left"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;table border="0" cellspacing="0" cellpadding="0" align="center" class="rnb-col-1"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;td height="10"&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;/tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;td style="font-size:18px;font-family:'Verdana',Geneva,sans-serif; color:#999; font-weight:normal; text-align:left;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                            </span>&lt;span style="color:#999; font-weight:normal;"&gt;{CIV} {PRENOM} {NOM} ,&lt;/span&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;td height="10"&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;/td&gt;&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                    </span>&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                            </span>&lt;/tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;/tbody&gt;&lt;/table&gt;&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;/div&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/tr&gt;&lt;tr&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;div&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;table align="left" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100%;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;td valign="top" width="590" style="width:590px;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;table class="rnb-del-min-width" width="100%" cellpadding="0" border="0" cellspacing="0" bgcolor="#ffffff" style="min-width:100%; background-color:#ffffff;" name="Layout_16"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;td class="rnb-del-min-width" align="center" valign="top" bgcolor="#ffffff" style="background-color: #ffffff;"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-container" bgcolor="#ffffff" style="background-color: rgb(255, 255, 255); padding-left: 20px; padding-right: 20px; border-collapse: separate; border-radius: 0px; border-bottom: 0px none rgb(200, 200, 200);"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                            </span>&lt;td height="20" style="font-size:1px; line-height:1px;"&gt; &lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                            </span>&lt;td valign="top" class="rnb-container-padding" bgcolor="#ffffff" style="background-color: #ffffff;" align="left"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;table width="100%" border="0" cellpadding="0" cellspacing="0" class="rnb-columns-container"&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                    </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                        </span>&lt;td class="rnb-force-col" valign="top" style="padding-right: 0px;"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                            </span>&lt;table border="0" valign="top" cellspacing="0" cellpadding="0" width="100%" align="left" class="rnb-col-1"&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                                </span>&lt;tbody&gt;&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                                    </span>&lt;td style="font-size:14px; font-family:'Verdana',Geneva,sans-serif, sans-serif; color:#555; line-height: 21px;"&gt;&lt;div&gt;Nous vous remercions de vous être inscrits sur notre tablette au Manoir.&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;Vous faites désormais parti de nos clients Privilège. Vous recevrez nos offres Privilège ainsi que notre newsletter mensuelle.&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;Vous retrouverez ci-dessous la liste des établissements proposants nos champagnes dans votre département : &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;ul&gt;</p>
<p class="p1"><span class="Apple-tab-span">	</span>&lt;li&gt;LA BOUITTE *** - Étoilés et restaurants gastronomiques - (St Martin de Belleville - 73)&lt;/li&gt;</p>
<p class="p1"><span class="Apple-tab-span">	</span>&lt;li&gt;LE MONTGOMERIE ** - Étoilés et restaurants gastronomiques - (Courchevel 1850 - 73)&lt;/li&gt;</p>
<p class="p1"><span class="Apple-tab-span">	</span>&lt;li&gt;LA TABLE DE L'OURS * - Étoilés et restaurants gastronomiques - (Val d'Isère - 73)&lt;/li&gt;</p>
<p class="p1">&lt;/ul&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;Nous restons à votre disposition pour tout complément d'information.&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;Cordialement,&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt; &lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;L'équipe du Manoir Champagne Devaux&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;div&gt;Tel : 03.25.38.63.85&lt;/div&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;ul&gt;</p>
<p class="p1">&lt;/ul&gt;</p>
<p class="p1">&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                                </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">                                                            </span>&lt;/td&gt;&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                                </span>&lt;/tbody&gt;&lt;/table&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                            </span>&lt;td height="20" style="font-size:1px; line-height:1px;border-bottom:0px;"&gt; &lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                                    </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                    </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;/tbody&gt;&lt;/table&gt;&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><span class="Apple-converted-space">                </span></p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;!--[if mso]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                </span>&lt;![endif]--&gt;</p>
<p class="p2"><br></p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;/div&gt;&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">    </span>&lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">            </span>&lt;!--[if gte mso 9]&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/table&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;![endif]--&gt;</p>
<p class="p1"><span class="Apple-converted-space">                        </span>&lt;/td&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;/tr&gt;</p>
<p class="p1"><span class="Apple-converted-space">        </span>&lt;/tbody&gt;&lt;/table&gt;</p>
<p class="p2"><br></p>
<p class="p1">&lt;/body&gt;&lt;/html&gt;</p>
</body>
</html>
