<div id="save">
    <div class="container-fluid">
        <!-- <div class="container"> -->
        <a href="#top" class="button square" title="Go to top"><i class="size-18 in-button ion-arrow-up-c"></i></a>
        <button class="pull-right"><i class="in-button left ion-checkmark"></i>Save</button>
        <button class="pull-right mr-" data-trigger="popup"><i class="in-button left ion-share"></i>Popup</button>
        <!-- </div> -->
    </div>
</div>
