{% extends 'base_admin.html.twig' %}

{% block sidebarTitle %}ADMIN MENU{% endblock %}
{% block titlePage %}{% endblock %}

{% block routePage %}
    <li><a href="{{ path('back_homepage') }}">Admin</a></li>
    <li><a href="#">Dashboard</a></li>
{% endblock %}

{% block contentPage %}

{% endblock %}
